{% extends 'project1/base.html' %}

{% block content %}
   <h1>Categories</h1>
   </br>
   <!--<a href="{% url 'category_new' %}" 
   class="top-menu"><span class="glyphicon
   glyphicon-plus"></span></a>-->
   <button onclick="location.href = '{% url 'category_new' %}'"
   id="insertButton"
   class="submit-button" >Insert</button>
   {% for category in categories %}
      <div>
         </br>
         <p>Name: </p>  
         <div>{{category.name}} </div>
         </br>
         <p>Description: </p> 
         <div>{{category.description}} </div>

         <a class="btn btn-default" href="{% url 'category_edit' pk=category.pk%}"><span class="glyphicon glyphicon-pencil"></span></a>
      </div>
   {% endfor %} 
{% endblock %}
