{% extends 'project1/base.html' %}

{% block content %}
   <h1>Categories</h1>
   <button type="button">
         <a href="/product/"> Product</a>
   </button>  
   <button type="button">
      <a href="/product_browse/"> Product Browse</a>
   </button> 
   
   <button type="button">
            <a href="/shopping_cart/"> Shopping Cart</a>
        </button>
  </br>
   <button onclick="location.href='{%url 'category_new' %}'"
           id="insertButton"
           class="submit-button">Insert</button>

   {% for category in categories %}
      <div>
         </br>
         <p>Name: </p>  
         <div>{{category.name}}</div>
         </br>
         <p>Description: </p> 
         <div>{{category.description}} </div>
         <button onclick="location.href='{%url 'category_edit' pk=category.pk%}'"
           id="updateButton"
           class="submit-button">Update</button>
        

         {% if category.canDelete %}
            <button onclick="location.href='{%url 'category_delete' pk=category.pk%}'"
                 id="deleteButton"
                 class="submit-button">Delete</button>
         {% endif %}

         <!--<a class="btn btn-default" href="{% url 'category_edit' pk=category.pk%}"><span class="glyphicon glyphicon-pencil"></span></a>-->

      </div>
    
   {% endfor %} 

{% endblock %}
