{% extends 'project1/base.html' %}

{% block content %}
    <h1>Homepage</h1>
    </br>
    <div>
        <button type="button">
            <a href="/signup/"> Sign up</a>
        </button>
    	<button type="button">
    		<a href="/product/"> Product</a>
    	</button>
        <button type="button">
            <a href="/product_browse/"> Product Browse</a>
        </button>
    	</button>	
        {% if user.isSeller %}
        	<button type="button">
        		<a href="/category/"> Category</a>
        	</button>
        {% else %}
            <button type="button">
                <a href="/category/"> Category</a>
            </button>
        {% endif %}
    </div>
{% endblock %}
