{% extends 'project1/base.html' %}

{% block content %}
    
    <h1>Homepage</h1>
    </br>
    <div>
        <p>{{error}}</p>
        <button type="button">
            <a href="/signup/"> Sign up</a>
        </button>
        <button type="button">
            <a href="/login/"> Login</a>
        </button>
    	<button type="button">
    		<a href="/product/"> Product</a>
    	</button>
        <button type="button">
            <a href="/product_browse/"> Product Browse</a>
        </button>
    	</button>	
        <button type="button">
        	<a href="/category/"> Category</a>
        </button>
        <button type="button">
            <a href="/shopping_cart/"> Shopping Cart</a>
        </button>
       
       
    </div>
{% endblock %}
