{% extends 'project1/base.html' %}


{% block extra_head %}
{% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/product_browse.css' %}"> 
{% endblock %}

{% block content %} 
    <h1 id="top">Product Order Page</h1>
    </br>
    <div>
    	<button type="button">
    		<a href="/product_browse">Back to Browse</a>
    	</button>
    </div>
    <div>

        <p>Ordering</p>
        <table style="width:550px">
            <tr>
                <td>Name {{name}}</td>
              
                <td>Price {{price}}</td>
            </tr>
    </div>
    <form method = "POST">{% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="save btn btn-default">Save</button>
   </form>
    
{% endblock %}
