{% extends 'project1/base.html' %}

{% block content %}
   <h1>New Order</h1>
   </br>
   <form action="/product_order/" method = "POST" class="order-form">{% csrf_token %}
   		<label for="name">Product Name</label>{{order.name}}<br>
   		<label for="sku">SKU</label>{{order.name}}<br>
   		<label for="price">Price</label>{{order.name}}<br>
   		<label for="category">Category</label>{{order.name}}<br>



   		<label for="quantity"> Quantity </label>
		<input type="number" name="quantity" >     
     	<button type="submit" class="save btn btn-default">Save</button>
   </form>
{% endblock %}
