{% extends 'project1/base.html' %}

{% block extra_head %}
{% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/product_browse.css' %}"> 
{% endblock %}

{% block content %} 
    <h1 id="top">Product Browse Page</h1>
    </br>
    <div>
    	<button type="button">
    		<a href="/">Home Page</a>
    	</button>
    </div>
    <div>
    	<form action="{% url 'product_browse'  %}" method="get">
            <input type="text" name="q" placeholder="Search">
        </form>
    </div>
        <div>
            <h3>Categories:</h3>
            <a href="{%url 'product_browse' %}">All</a>
            {% for category in categories %}
            <ul>
                <a href="{%url 'product_browse_cat' pk=category.pk %}">{{category.name}}</a>
            </ul>
            {% endfor %}
            <h3 id="product_tables"></h3>
        </div>

    <div>
            <table style="width:550px">
            <tr>
                <td>Name</td>
                <td>sku</td>
                <td>Price</td>
                <td>Category</td>
                <td>Add to Cart</td>
            </tr>
            {% for product in products %}
                <tr>
                    <td>{{product.name}}</td>
                    <td>{{product.sku}}</td>
                    <td>${{product.price}}</td>
                    <td>{{product.category}}</td>
                    <td><button type="button"><a href="{%url 'product_order' pk=product.pk %}">Order</a></button></td>
                </tr>
            {% endfor %}
            </table>
{% endblock %}
