{% extends 'project1/base.html' %}

{% block content %}

   <h1><b>Product</b></h1>
   <button type="button">
      <a href="/">Home Page</a>
   </button>
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <form action="/product/search/" method="get">
               Search bar:<br>
               <input class="search" type="text" placeholder="What are you looking for?" name="item" value={{searchItem}}>
               <br>
               <input type="hidden" type="text" name="curCat" value={{curCat}} >
               <input type="submit" value="Search">
            </form> 

           
         </div>

         <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <button type=onclick id="insertButton" class="submit-button">
               <a href="{%url 'product_new' %}">Insert New Product</a>
            </button>
         </div>
      </div>
   </div>
   <hr>

   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <p> Current Category: {{curCat}}</p>
               <ul style="list-style-type:none">
               <li>
                  <button type=onclick id="changeCategoryButton" class="submit-button">
                     <a href="{%url 'product' %}">All </a>
                  </button>
               </li>
               {% for allCat in allCategories %} 
                  <li>
                     <button type=onclick id="changeCategoryButton" class="submit-button">
                        <a href="{%url 'product' pk=allCat.pk %}">{{allCat.name}}</a>
                     </button>
                  </li>
               {% endfor %}
               </ul>
         </div>
       
         <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
         <ul style="list-style-type: none">
         {% for product in products %}
         <li>
            <div>
               </br>
               <p>Name: </p>  
                  <div>{{product.name}}</div>
               </br>
               <p>Sku: </p> 
                  <div>{{product.sku}} </div>
               </br>
               <p>Price: </p>
                  <div> $ {{product.price}} </div>
               </br>
               <p>Category: </p>
                  <div>{{product.category}}</div>
               </br>
               <button type=onclick id="updateButton" class="submit-button">
                  <a href="{%url 'product_edit' pk=product.pk %}">Update</a>
               </button>

               <button type=onclick id="deleteButton" class="submit-button">
                  <a href="{%url 'product_delete' pk=product.pk %}">Delete</a>
               </button>
            </div>
         </li>
         <hr>
         {% endfor %} 
         </div>
      </div>
   </div>

{% endblock %}
